## Set Theory

In [1]:
lst1 = [1, 8, 9, 0]

In [2]:
set(lst1)

{0, 1, 8, 9}

In [3]:
## Union
s1 = {1,2,3}
s2 = {3,4,5}

In [4]:
s1 | s2

{1, 2, 3, 4, 5}

In [5]:
s1.union(s2)

{1, 2, 3, 4, 5}

In [6]:
## Intersection
s1 = {1,2,3}
s2 = {3,4,5}

In [6]:
s1 & s2

{3}

In [7]:
s1.intersection(s2)

{3}

In [8]:
s1 = {2, 3, 5, 6, 7}
s2 = {5, 6, 7}

In [9]:
s1 - s2

{2, 3}

In [10]:
s2 - s1

set()

In [12]:
## Difference
s1 = {1,2,3,4,5,6}
s2 = {5,6,7}

In [13]:
s1-s2

{1, 2, 3, 4}

In [14]:
s1.difference(s2)

{1, 2, 3, 4}

In [15]:
s2-s1

{7}

In [16]:
## Symmetric difference
s1={1,2,3,4,5}
s2={4,5,6,7,8}

In [16]:
s1.symmetric_difference(s2)

{1, 2, 3, 4, 7}

In [17]:
s2.symmetric_difference(s1)

{1, 2, 3, 4, 7}

In [19]:
s1 = {1,2,3,4,5}
s2 = {1,2,3}

In [20]:
s2.issubset(s1)

True

In [21]:
s2.issuperset(s1)

False

## Regular expressions

re — Regular expression operations

In [22]:
import re

In [73]:
dir(re)

['A',
 'ASCII',
 'DEBUG',
 'DOTALL',
 'I',
 'IGNORECASE',
 'L',
 'LOCALE',
 'M',
 'MULTILINE',
 'Match',
 'Pattern',
 'RegexFlag',
 'S',
 'Scanner',
 'T',
 'TEMPLATE',
 'U',
 'UNICODE',
 'VERBOSE',
 'X',
 '_MAXCACHE',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__version__',
 '_cache',
 '_compile',
 '_compile_repl',
 '_expand',
 '_locale',
 '_pickle',
 '_special_chars_map',
 '_subx',
 'compile',
 'copyreg',
 'enum',
 'error',
 'escape',
 'findall',
 'finditer',
 'fullmatch',
 'functools',
 'match',
 'purge',
 'search',
 'split',
 'sre_compile',
 'sre_parse',
 'sub',
 'subn',
 'template']

In [29]:
str1 = "Welcome to python session to learn"

In [30]:
# Findall is used to return the no.of occurance of matched string in the given string
x = re.findall('to',str1)
x

['to', 'to']

In [32]:
mystr ="""With the price drop, the base variant featuring M2 chipset, 8GB RAM and 256GB storage is priced at Rs 1,14,900 and the 512GB variant now costs Rs 1,44,900. Earlier, they were priced at Rs 1,19,900 and Rs 1,49,900, respectively.
The Macbook M1 is priced at Rs 99,900, there’s no change in the pricing here. However, the laptop can be easily found selling at a discounted price on other e-commerce platforms or during the sale season."""

In [35]:
mystr.count('t')

24

In [36]:
re.findall("price",mystr)

['price', 'price', 'price', 'price', 'price']

In [37]:
re.findall('e', mystr)

['e',
 'e',
 'e',
 'e',
 'e',
 'e',
 'e',
 'e',
 'e',
 'e',
 'e',
 'e',
 'e',
 'e',
 'e',
 'e',
 'e',
 'e',
 'e',
 'e',
 'e',
 'e',
 'e',
 'e',
 'e',
 'e',
 'e',
 'e',
 'e',
 'e',
 'e',
 'e',
 'e',
 'e',
 'e',
 'e',
 'e',
 'e',
 'e',
 'e']

In [41]:
y=re.findall('Welcome',str1)
y

['Welcome']

In [38]:
y=re.findall('abc',mystr)
y

[]

In [39]:
str1

'Welcome to python session to learn'

Python regex re.search() method looks for occurrences of the regex pattern inside the entire target string and returns the corresponding Match Object instance where the match is found. The re.search() returns only the first match to the pattern from the target string

In [41]:
str1

'Welcome to python session to learn'

In [42]:
# Search() method is used to display the matched string
x=re.search('to',str1)
x

In [43]:
re.search('on',str1)

In [34]:
str1.index('e')

1

In [35]:
str1

'Welcome to python session'

In [44]:
x=re.search('python',str1)
x

In [47]:
x=re.search("abc",str1)
x

In [48]:
str1='Hello,world, Hi'

re.split(pattern, string)
Split string by the occurrences of pattern.

In [49]:
z=re.split(",",str1)
z

['Hello', 'world', ' Hi']

In [47]:
str1.split(',')

['Hello', 'world', ' Hi']

In [52]:
x = 'Welcome to python session'

In [56]:
re.split(" ", x)

['Welcome', 'to', 'python', 'session']

In [57]:
z = "Hello how are you"
z=re.split(" ",str1)
z

['Hello,world,', 'Hi']

re.sub(pattern, repl, string)
Return the string obtained by replacing the leftmost non-overlapping occurrences of pattern in string by the replacement repl. If the pattern isn’t found, string is returned unchanged.

In [63]:
import re
str2='Hi Python, Hello Python'

In [68]:
re.sub('Python','Analytics',str2,1)

'Hi Analytics, Hello Python'

In [69]:
str2

'Hi Python, Hello Python'

re.match(pattern, string)
If zero or more characters at the beginning of string match the regular expression pattern, return a corresponding match object. Return None if the string does not match the pattern.

In [70]:
import re
str3 = 'Hi Python, Hello Python'
x=re.match('Hi',str3)
x

In [72]:
x=re.match("Hello",str2)
x

## Assigning values

In [1]:
# '=' is used for assignment
a,b,c = 1,'xyz',5.5
a,b,c

(1, 'xyz', 5.5)

In [4]:
c

5.5

In [5]:
a,b,c = 1, 'ki', 8.97

In [7]:
b

'ki'

In [11]:
## Multiple strings
a_str = 'This a line string'
a_str

'This a line string'

In [12]:
a_str1 = '''This is
a multiline
string
gytu
hyui
io'''
a_str1

'This is\na multiline\nstring\ngytu\nhyui\nio'

In [13]:
print(a_str1)

This is
a multiline
string
gytu
hyui
io

## Getting input from users

In [68]:
x = input("Enter the value of x: ")
print(x)

Enter the value of x: 80
80

In [69]:
type(x)

str

In [70]:
myname = input("Enter your name: ")
print("Your name is ", myname)

Enter your name: Srinivas
Your name is  Srinivas

In [71]:
name = input('Enter your name:')

occupation = input('What is your occupation: ')

if occupation[0] == 'a' or occupation[0] == 'e'or occupation[0] == 'i' or occupation[0] == 'o' or occupation[0] == 'u':
  put = 'an'
else:
  put = 'a'
name + ' is ' + put + ' ' + occupation

Enter your name:srinivas
What is your occupation: engineer

'srinivas is an engineer'

In [72]:
name = (input('Enter your name:'))
name.lower()

Enter your name:SRINIVAS

'srinivas'

In [35]:
age = input('Enter your age:')
age

Enter your age:34

'34'

In [36]:
age = int(input('Enter your age:'))
age

Enter your age:23

23

In [37]:
type(age)

int

## Print statement in python

In [1]:
print('Hello world')

Hello world

In [2]:
name1 = input('Enter your name:')
name1

Enter your name:Raj

'Raj'

In [11]:
print('Hello',name1)

Hello raj

In [5]:
print('Hello'+ name1)

Helloraj

In [4]:
age = 35

In [5]:
print(name1,'is',age,'years old')

Raj is 35 years old

In [7]:
## Starndard way of using print statement
print('{0} is {1} years old'.format(name1,age))

Raj is 35 years old

In [8]:
name ='ramesh'
age = 27

In [9]:
print(f'{name} is {age} years old') # f-string method

ramesh is 27 years old

In [42]:
print(name,'is',age,"years old")

ramesh is 27 years old

In [15]:
name2 = input("Enter your name: ")
age2 = int(input("Enter your age: "))
#age2 = 12* age2
print(f'{name2} is {12*age2} months old')

Enter your name: Ramesh
Enter your age: 40
Ramesh is 480 months old

## Conditional Statements

In [5]:
# If
num = 7
if num > 0:
    print(num, "is a positive number.") 
print("This is always printed.")

7 is a positive number.
This is always printed.

In [7]:
# If else:
num = 7

if (num >= 0):
    print("Positive number")
else:
    print("Negative number")

Positive number

In [65]:
x = 9
if (x<5):
    print("less than 5")
    if (x == 5):
        print("Equal to 5")
else:
    print("Greater than 5")

Greater than 5

In [8]:
## Define a function with conditional statement

#def max_num(num1,num2,num3):
num1 =100
num2 =200
num3 =700

if num1 >= num2 and num1 >= num3:
    print(num1) 

elif num2 >= num1 and num2 >= num3:
    print(num2)

else:
    print(num3)

#print (max_num(400,60,1150))

700

In [21]:
lst = [400, 60, 1150,1250]

max_num = lst[0]

for k in lst:
    if k > max_num:
        max_num = k

max_num

1250

In [49]:
# Nested If
num = int(input("Enter a number: "))

if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

Enter a number: 56
Positive number

##  For loop

In [17]:
L = [3,4,8,9,10]
for x in L:
    print(2*x)
    print("Inside for loop")
else:
    print("Outside for loop")

6
Inside for loop
8
Inside for loop
16
Inside for loop
18
Inside for loop
20
Inside for loop
Outside for loop

In [2]:
# for Loop
# for each item in sequence , last item reached , no - body of loop , yes , exit loop

#Ex:1

snacks = ['pizza','burger','shawarma','franky']

for x in snacks:
    print("current snack: ", x)
    print("Iam inside of for loop")
print("Good day!")

current snack:  pizza
Iam inside of for loop
current snack:  burger
Iam inside of for loop
current snack:  shawarma
Iam inside of for loop
current snack:  franky
Iam inside of for loop
Good day!

In [67]:
#Ex:2

num = int(input("number: "))
factorial = 1

if num < 0:
    print("must be positive")
elif num == 0:
    print("factorial = 1")
else:
    for i in range(1,num+1):
        factorial = factorial * i
    print("factorial =  " ,factorial)

number: 6
factorial =   720

In [11]:
L = [10,20,3,7,9,10]
for x in L:
    if(x==9):
        continue
    y = 3*x
    print(y)
print("Iam out of for loop")

30
60
9
21
30
Iam out of for loop

In [13]:
list2 =[9,11,4,13,15,19]
for x in list2:
    if(x%2 == 0):
        print("Even number found!")
        break
    print(x)

9
11
Even number found!

In [15]:
for y in list2:
    pass

In [4]:
#Nested for loop

for i in range(0,3):
    for j in range(0,3):
        for k in range(0,4):
            print(i,j,k)

0 0 0
0 0 1
0 0 2
0 0 3
0 1 0
0 1 1
0 1 2
0 1 3
0 2 0
0 2 1
0 2 2
0 2 3
1 0 0
1 0 1
1 0 2
1 0 3
1 1 0
1 1 1
1 1 2
1 1 3
1 2 0
1 2 1
1 2 2
1 2 3
2 0 0
2 0 1
2 0 2
2 0 3
2 1 0
2 1 1
2 1 2
2 1 3
2 2 0
2 2 1
2 2 2
2 2 3

In [10]:
list1 =[2,3,4,5,6]
for x in range(5):
    if (x==2):
        continue
    print("x=:", x)
    print(list1[x])

x=: 0
2
x=: 1
3
x=: 3
5
x=: 4
6

In [26]:
L1 =[3,4,6,8]
for x in range(0,4):
    print(L1[x])

3
4
6
8

In [53]:
# For loop with else:
digits = [0, 1, 5]

for i in digits:
    print(i)
else:
    print("No items left.")

0
1
5
No items left.

## While loop

In [5]:
i=0
while(i<6):
    a=6*i
    b=10-i
    print(a,b)
    i += 1

0 10
6 9
12 8
18 7
24 6
30 5

In [1]:
# initialize sum and counter
n = 4
sum = 0
i = 1

while i <= n:
    sum = sum + i
    print(sum)
    i = i+1    # update counter
    
# print the sum
print("The sum is", sum)

1
3
6
10
The sum is 10

In [56]:
# While loop with else
# Example to illustrate
# the use of else statement
# with the while loop

counter = 0

while counter < 3:
    print("Inside loop")
    counter = counter + 1
else:
    print("Inside else")

Inside loop
Inside loop
Inside loop
Inside else

In [6]:
#Ex: 1

count = 0

while count < 10:
    print("Digit: ", count)
    count = count + 1

print("Thank you")

Digit:  0
Digit:  1
Digit:  2
Digit:  3
Digit:  4
Digit:  5
Digit:  6
Digit:  7
Digit:  8
Digit:  9
Thank you

## Functions

In [19]:
def power(x=5,y=4):
    z =x**y
    return(z)

power(10,3)
power()

625

In [1]:
def function(x,y,z):
    a = x+y-z
    return(a)

In [2]:
function(10,20,30)

0

In [20]:
L = [1000000,2000000,3000000,1500000]
def increment(x,i):
    for salary in x:
        print(i*salary)

increment(L,1.3)

1300000.0
2600000.0
3900000.0
1950000.0

In [25]:
def myfunc(name="Srinivas"):
    print('Hello', name)

In [26]:
myfunc("Ramesh")

Hello Ramesh

In [7]:
# Variable no of arguments
def myfunc(*name):
    #print('Hello',name)
    for i in name:
        print("Hello",i)

In [10]:
myfunc("Ram","John","Ramesh")

Hello Ram
Hello John
Hello Ramesh

In [26]:
myfunc('hi')

Hello hi

In [2]:
# Keyword arguments
def hello(**name):
    print("Hello", name['fname'], name['lname'])
 
hello(fname="Bill", lname="Gates")
hello(lname="Pichai", fname="Sundar")
hello(fname="Narendra", mname="Damodar", lname="Modi")
hello(fname="John") #gives error

Hello Bill Gates
Hello Sundar Pichai
Hello Narendra Modi

KeyError: 'lname'

In [8]:
def squares(x=4):
    return x**2

In [11]:
squares()

16

## Lambda function

In [13]:
z = lambda y: 3*y

In [14]:
z(6)

18

In [16]:
x = lambda y,z: y*z
x(10,20)

200

In [17]:
fn = lambda x : x**2

In [18]:
fn(8)

64

In [20]:
def square(n):
  return n**2

In [21]:
square(8)

64

In [47]:
fn(6)

36

In [48]:
type(fn)

function

In [28]:
lst = ['c++','c','python','java','mysql123']
lst

['c++', 'c', 'python', 'java', 'mysql123']

In [30]:
lst.sort()

In [31]:
lst

['c', 'c++', 'java', 'mysql123', 'python']

In [32]:
lst.sort(key = lambda x: len(x))
lst

['c', 'c++', 'java', 'python', 'mysql123']

In [24]:
# List Comprehension

[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [26]:
[x for x in range(10) if x%2 == 1]

[1, 3, 5, 7, 9]

In [27]:
# dictionary comprehension.  allows you to run a for loop on a dictionary and do something 
# on each item like transforming or filtering and returns a new dictionary.
L = [1,2,3,4,5]
d = { x:x+2 for x in L}
d

{1: 3, 2: 4, 3: 5, 4: 6, 5: 7}

In [10]:
# dictionary comprehension

# Lists of keys and values
key = ['A','B','C','D','E']
value = [4,9,3,4,1]

# dict comprehension 

d = { k:v for (k,v) in zip(key, value)}
print (d)

# Alternate way of creating dictionary

print(dict(zip(key, value)))

{'A': 4, 'B': 9, 'C': 3, 'D': 4, 'E': 1}
{'A': 4, 'B': 9, 'C': 3, 'D': 4, 'E': 1}